<!-- views/events-edit.handlebars -->

<div class="row mt-4">
    <div class="col-lg-6 offset-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h3>Update Event</h3>
                </div>
                <div class="card-text">
                    <form action="/events/{{event.dataValues.id}}/update" method="POST">
                        {{> events-form }}
                        <div class="text-right">
                            <a href="/events/{{event.dataValues.id}}" class='text-muted mr-2'>Cancel</a>
                            <button type="submit" class="btn btn-danger" name="button">Update</button>
                            <a href='/events/{{event.dataValues.id}}/delete'><button type="button" class='btn btn-primary'>Delete</button></a>
                        </div>
                    </form>

                    {{!-- <form action="/events/{{event.dataValues.id}}/delete" method="POST">
                    <button type="submit" class='btn btn-danger'>Delete</button>
                    </form> --}}
                </div>
            </div>
        </div>
    </div>
</div>